<html>

<head>
    <title>Landlord Email</title>
</head>

<body>
    <div class="container" style="max-width: 600px; margin: 0 auto; background: white;">
        <div>
            <img src="http://46.175.146.14:5000/imgs/logo.png" width="130px" style="display: block; margin: auto;"
                alt="Logo" />
        </div>
        <!-- <img src="{{ asset('imgs/cover_h.png') }}" alt="Cover" width="100%" /> -->
        <div class="content" style="margin: 15px;">