/* Custom CSS */
.ant-menu-horizontal .ant-menu-item {
  padding-left: 5px;
  padding-right: 5px;
}
.ant-menu-horizontal .ant-menu-item::after {
  border: none !important;
  transition: none !important;
}
.ant-menu-horizontal:hover .ant-menu-item::after {
  border: none;
  transition: none;
}
.ant-drawer-content-wrapper {
  width: 250px !important;
}
.ant-drawer-body {
  padding: 0 !important;
}
