/* Custom CSS */
.ant-menu-horizontal .ant-menu-item {
  padding-left: 5px;
  padding-right: 5px;
}
.ant-menu-horizontal .ant-menu-item::after {
  border: none !important;
  transition: none !important;
}
.ant-menu-horizontal:hover .ant-menu-item::after {
  border: none;
  transition: none;
}

.ant-menu-submenu.ant-menu-submenu-inline.ant-menu-submenu-open {
  background: blue;
  color: white;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  /* border-radius: 5px; */
  background-color: transparent;
  /* border: 1px solid transparent; */
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #aaa;
}

*:hover::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

*:hover::-webkit-scrollbar-track {
  /* border-radius: 5px; */
  background-color: transparent;
  /* border: 1px solid transparent; */
}

*:hover::-webkit-scrollbar-thumb {
  background-color: #aaa;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}
