<%- include('./partials/header.ejs') %>

<h3 style="font-size: 18px; color: black;">Hey <%= name %></h3>
<p style="font-size: 16px;  color: #333;">We're thrilled to welcome you to the Landlord Genius! With our cutting-edge AI technology, you can now create stuning, professional headshots in just a minutes. Say goodbye to scheduling appointments and expensive photography sessions!</p>
<p style="font-size: 16px;  color: #333;">If you have any question or need assistance, please feel free to contact or support team. We're always here to help.
</p>
<p style="font-size: 16px;  color: #333;">Happy creating and see you soon!</p>
<br>
<a href="http://46.175.146.14:3000/auth/login" style="background: #fe4801; padding: 15px 25px; color: white; font-weight: bold; text-decoration: none; border-radius: 5px;"> Your Account </a>
<br>
<br>
<p style="font-size: 16px;  color: #333;">Warm regards,</p>
<div style="display: flex; align-items:center;">
  <img src="http://46.175.146.14:5000/imgs/support.jpg" width="70px" alt="support">
  <div style="flex: 1">
    <p style="margin: 5px 10px 0; color: #333;">Jessica Johnson</p>
    <p style="margin: 0 10px; color: #333;">Customer Success Manager</p>
    <p style="margin: 0 10px; color: #333;">Prophotos.AI</p>
  </div>
</div>

<%- include('./partials/footer.ejs') %>
